In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
pages = pages = ["https://www.kammi.it/scarpe-donna/sneakers/",
                 "https://www.kammi.it/scarpe-donna/sneakers/pag2/"]

dict = {"modello": [], "descrizione": [], "prezzo": []}

for url in pages:
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        modelli = soup.find_all("p", attrs={"class": "product-title"})
        descrizioni = soup.find_all("p", attrs={"class": "product-description"})
        prezzi = soup.find_all("p", attrs={"class": "product-price"})
        
        prezzi_clean = [prezzo.text for i, prezzo in enumerate(prezzi) if i % 2 != 0]
        
        for modello, descrizione, prezzo in zip(modelli, descrizioni, prezzi_clean):
            dict["categoria"] = "sneakers"
            dict["modello"].append(modello.text.strip())
            dict["descrizione"].append(descrizione.text.strip())
            dict["prezzo"].append(prezzo.strip())

df1= pd.DataFrame(dict)
df1

,modello,descrizione,prezzo,categoria
0,Sneakers 82066,Sneakers in pelle bianca con inserti verde men...,"105,00 €",sneakers
1,Sneakers 82066,Sneakers in pelle bianca con inserti laminato ...,"105,00 €",sneakers
2,Sneaker Marina,Sneakers in pelle bianca con tallonetta in gli...,"109,00 €",sneakers
3,Sneaker Marina,Sneakers in pelle bianca con tallonetta in gli...,"109,00 €",sneakers
4,Sneaker Nina,"Sneakers in pelle bianca, saetta in pelle e gl...","109,00 €",sneakers
5,Sneakers 8100,Sneakers in nappa bianca forata con tallonetta...,"95,00 €",sneakers
6,Sneakers 8100,Sneakers in nappa bianca forata con tallonetta...,"95,00 €",sneakers
7,Sneakers 2651 cat,Slip on in pelle color oro effetto intrecciato...,"109,00 €",sneakers
8,Sneakers 2651 cat,Slip on in pelle color cuoio effetto intreccia...,"109,00 €",sneakers
9,Sneakers 23039,Sneakers in pelle nera con tallonetta color pl...,"89,90 €",sneakers
10,Sneakers 23039,Sneakers in pelle bianca con tallonetta color ...,"89,90 €",sneakers
11,Sneakers 2651 cat,Slip on in pelle color latte effetto intreccia...,"109,00 €",sneakers
12,Sneakers 2651 cat,Slip on in pelle bianca effetto intrecciato co...,"109,00 €",sneakers
13,Sneakers 8100,Sneakers in pelle bianca forata con fondo plat...,"95,00 €",sneakers
14,Sneakers 23036,"Sneakers in pelle cielo liscia, con linguetta ...","79,90 €",sneakers
15,Sneakers 23222,Sneakers in pelle bianca con tallonetta lamina...,"99,90 €",sneakers
16,Sneakers 23037,Sneakers in pelle effetto intrecciato color sa...,"79,90 €",sneakers
17,Sneakers 23180,Sneakers in pelle nera effetto squame.\nPotreb...,"89,90 €",sneakers
18,Sneakers 23180,Sneakers in pelle latte effetto squame.\nPotre...,"89,90 €",sneakers
19,Sneakers 23180,Sneakers in pelle mattone effetto squame.\nPot...,"89,90 €",sneakers
20,Sneakers 9040,Sneakers liscia in pelle cielo forata.\nPotreb...,"79,90 €",sneakers
21,Slip on Catena 2651,Slip on in pelle nera con catena argento e dop...,"99,90 €",sneakers
22,Sneakers 9147,Sneakers in pelle bianca e jewel bianco effett...,"47,94 €",sneakers
23,Sneakers 9070,Sneakers in pelle cipria arricchita da fiocco ...,"55,30 €",sneakers
24,Sneakers 1717 Piton,Sneakers in pelle stampa pitone roccia con ban...,"52,50 €",sneakers
25,Sneakers Riano,Sneakers con rete nera e micro glitter piombo,"39,95 €",sneakers
26,Sneakers Rosora,Sneakers con doppio fondo in pelle beige e rif...,"44,50 €",sneakers
27,Sneakers Sport Bande,Sneakers in pelle bianca con fascia elastica r...,"44,50 €",sneakers
28,Slip on Boreale,Slip on in pelle e tessuto con applicazioni st...,"34,50 €",sneakers

In [13]:
pages = pages =  ["https://www.kammi.it/scarpe-donna/sandali-bassi/", 
                  "https://www.kammi.it/scarpe-donna/sandali-bassi/pag2/",
                  "https://www.kammi.it/scarpe-donna/sandali-bassi/pag3/",
                  "https://www.kammi.it/scarpe-donna/sandali-bassi/pag4/",
                 "https://www.kammi.it/scarpe-donna/sandali-bassi/pag5/",
                 "https://www.kammi.it/scarpe-donna/sandali-bassi/pag6/",
                 "https://www.kammi.it/scarpe-donna/sandali-bassi/pag7/",
                 "https://www.kammi.it/scarpe-donna/sandali-bassi/pag8/"]

dict = {"modello": [], "descrizione": [], "prezzo": []}

for url in pages:
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        modelli = soup.find_all("p", attrs={"class": "product-title"})
        descrizioni = soup.find_all("p", attrs={"class": "product-description"})
        prezzi = soup.find_all("p", attrs={"class": "product-price"})
        
        prezzi_clean = [prezzo.text for i, prezzo in enumerate(prezzi) if i % 2 != 0]
        
        for modello, descrizione, prezzo in zip(modelli, descrizioni, prezzi_clean):
            dict["categoria"] = "Sandali bassi"
            dict["modello"].append(modello.text.strip())
            dict["descrizione"].append(descrizione.text.strip())
            dict["prezzo"].append(prezzo.strip())

df2 = pd.DataFrame(dict)
df2

,modello,descrizione,prezzo,categoria
0,Sandalo 5387,Sandalo laminato argento con fasce a treccia a...,"69,90 €",Sandali bassi
1,Sandalo Hellen,Sandalo laminato oro con laccio alla caviglia....,"69,90 €",Sandali bassi
2,Sandalo 500,Sandalo in nappa cuoio,"49,90 €",Sandali bassi
3,Sandalo 500 cam,Sandalo in camoscio rosa,"49,90 €",Sandali bassi
4,Sandalo 23368,Sandalo infradito in pelle bianca con allaccia...,"65,00 €",Sandali bassi
...,...,...,...,...
115,Sandalo Brusa,Sandalo in pelle bianca incrociata con cinturi...,"27,95 €",Sandali bassi
116,Sandalo Kebili,Sandalo infradito con lavorazione etnica con c...,"32,95 €",Sandali bassi
117,Sandalo Medenine,Sandalo ultraflat con lavorazione etnica,"29,95 €",Sandali bassi
118,Sandalo Marrakech,Sandalo infradito con pompon,"27,50 €",Sandali bassi
119,Infradito Angel,Infradito argento lamè con accessori Silver,"29,50 €",Sandali bassi

In [14]:
pages = pages =  ["https://www.kammi.it/scarpe-donna/stivali-stivaletti/",
                  "https://www.kammi.it/scarpe-donna/stivali-stivaletti/pag2/"]

dict = {"modello": [], "descrizione": [], "prezzo": []}

for url in pages:
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        modelli = soup.find_all("p", attrs={"class": "product-title"})
        descrizioni = soup.find_all("p", attrs={"class": "product-description"})
        prezzi = soup.find_all("p", attrs={"class": "product-price"})
        
        prezzi_clean = [prezzo.text for i, prezzo in enumerate(prezzi) if i % 2 != 0]
        
        for modello, descrizione, prezzo in zip(modelli, descrizioni, prezzi_clean):
            dict["categoria"] = "Stivali e stivaletti"
            dict["modello"].append(modello.text.strip())
            dict["descrizione"].append(descrizione.text.strip())
            dict["prezzo"].append(prezzo.strip())

df3 = pd.DataFrame(dict)
df3

,modello,descrizione,prezzo,categoria
0,Tronchetto 6022,Tronchetto a punta in morbida pelle colore nud...,"139,00 €",Stivali e stivaletti
1,Tronchetto 6022,Tronchetto a punta in morbida pelle colore lat...,"139,00 €",Stivali e stivaletti
2,Stivale Pazza,Stivale a punta in suede color nero con tacco ...,"175,00 €",Stivali e stivaletti
3,Stivale Pazza,Stivale a punta in suede color cuoio con tacco...,"175,00 €",Stivali e stivaletti
4,Tronchetto 2929,Tronchetto a punta in pelle latte con cerniera...,"139,00 €",Stivali e stivaletti
5,Tronchetto 2929,Tronchetto a punta in pelle avio con cerniera ...,"139,00 €",Stivali e stivaletti
6,Stivale 985,Stivale in pelle color panna con fondo 4 cm,"89,40 €",Stivali e stivaletti
7,Stivale 985,Stivale in pelle nero con fondo 4 cm,"89,40 €",Stivali e stivaletti
8,Texano X02,Stivale texano in pelle nera arricchito da dis...,"109,00 €",Stivali e stivaletti
9,Texano 4101,Stivale stile texano scamosciato color camel c...,"49,50 €",Stivali e stivaletti
10,Stivale Tex 61,Stivale stile texano in pelle lavorata color n...,"44,95 €",Stivali e stivaletti
11,Stivale T97,Stivale in camoscio taupe con laccio posterior...,"59,95 €",Stivali e stivaletti
12,Stivaletto 64F,Stivaletto stile texano in camoscio taupe con ...,"67,50 €",Stivali e stivaletti
13,Stivaletto Iole,Stivaletto in pelle nera microforata con profi...,"54,50 €",Stivali e stivaletti
14,Stivaletto Aurora,Tronchetto in pelle laminata silver con borchi...,"54,50 €",Stivali e stivaletti
15,Texano Prato Tessuto,Texano in tessuto nero ricamato gold,"54,95 €",Stivali e stivaletti
16,Pompierino Star,Pompierino laminato rame con decorazione a ste...,"49,95 €",Stivali e stivaletti
17,Anfibio Desenzano,Anfibio allacciato color metallizzato platino ...,"49,95 €",Stivali e stivaletti
18,Anfibio Desenzano,Anfibio allacciato color metallizzato blu con ...,"49,95 €",Stivali e stivaletti
19,Anfibio Desenzano,Anfibio allacciato color metallizzato con micr...,"49,95 €",Stivali e stivaletti
20,Tronchetto Monza,Tronchetto spuntato in pelle nera microforata,"49,95 €",Stivali e stivaletti

In [15]:
pages = pages =  ["https://www.kammi.it/scarpe-donna/zeppe/",
                  "https://www.kammi.it/scarpe-donna/zeppe/pag2/",
                  "https://www.kammi.it/scarpe-donna/zeppe/pag3/",
                 "https://www.kammi.it/scarpe-donna/zeppe/pag4/"]

dict = {"modello": [], "descrizione": [], "prezzo": []}

for url in pages:
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        modelli = soup.find_all("p", attrs={"class": "product-title"})
        descrizioni = soup.find_all("p", attrs={"class": "product-description"})
        prezzi = soup.find_all("p", attrs={"class": "product-price"})
        
        prezzi_clean = [prezzo.text for i, prezzo in enumerate(prezzi) if i % 2 != 0]
        
        for modello, descrizione, prezzo in zip(modelli, descrizioni, prezzi_clean):
            dict["categoria"] = "Zeppe"
            dict["modello"].append(modello.text.strip())
            dict["descrizione"].append(descrizione.text.strip())
            dict["prezzo"].append(prezzo.strip())

df4 = pd.DataFrame(dict)
df4

,modello,descrizione,prezzo,categoria
0,Zeppa 102,"Zeppa in camoscio terra di siena, tessuto e co...","69,90 €",Zeppe
1,Zeppa 100,"Zeppa in tessuto rosso e corda, con lacci alla...","49,90 €",Zeppe
2,Zeppa 100,"Zeppa in tessuto nero e corda, con lacci alla ...","49,90 €",Zeppe
3,Zeppa 100,"Zeppa in tessuto panna e corda, con lacci alla...","49,90 €",Zeppe
4,Zeppa 102,"Zeppa in camoscio nero, tessuto e corda, con l...","69,90 €",Zeppe
5,Zeppa 102,"Zeppa in camoscio beige, tessuto e corda, con ...","69,90 €",Zeppe
6,Zeppa 4102,Zeppa platform in pelle grigio chiaro con due ...,"79,90 €",Zeppe
7,Ciabatta 300,Ciabatta in pelle grigio chiaro con due fasce ...,"79,90 €",Zeppe
8,Zeppa 2643,Zeppa in pelle lamanita color platino con cint...,"89,90 €",Zeppe
9,Zeppa 2643,Zeppa in pelle color cognac con cinturini incr...,"89,90 €",Zeppe
10,Zeppa 2044,"Zeppa in pelle nera con cinturini incrociati, ...","59,90 €",Zeppe
11,Sabot 2071,"Sabot in pelle nera con cinturino, graffette a...","74,90 €",Zeppe
12,Zeppa Palma,"Zeppa infradito in pelle color oro, cinturino ...","75,00 €",Zeppe
13,Zeppa Palma,"Zeppa infradito in pelle nera, cinturino poste...","75,00 €",Zeppe
14,Zeppa 0405,Zeppa in pelle marrone con fasce incrociate mu...,"84,90 €",Zeppe
15,Zeppa 0405,Zeppa in pelle marrone con fasce incrociate mu...,"84,90 €",Zeppe
16,Zeppa 0103,Zeppa in pelle color platino con fasce incroci...,"74,90 €",Zeppe
17,Zeppa 0103,Zeppa in pelle nera con fasce incrociate lisci...,"74,90 €",Zeppe
18,Zeppa 6105,Zeppa in pelle cipria con due fasce incrociate...,"84,90 €",Zeppe
19,Zeppa Fregene,"Zeppa in pelle multicolor, marrone, senape, co...","57,90 €",Zeppe
20,Zeppa 6805,Zeppa in pelle nera con profilo di borchiette ...,"79,90 €",Zeppe
21,Zeppa 6805,Zeppa in pelle color cuoio con profilo di borc...,"79,90 €",Zeppe
22,Zeppa L3402,Zeppa in pelle color platino con tomaia incroc...,"74,90 €",Zeppe
23,Zeppa 1610,"Zeppa in pelle nera con due fasce incrociate, ...","79,90 €",Zeppe
24,Zeppa 5700,"Zeppa in pelle cuoio con fasce incrociate, pro...","79,90 €",Zeppe
25,Zeppa 5700,"Zeppa in pelle nera con fasce incrociate, prof...","79,90 €",Zeppe
26,Zeppa 5700,"Zeppa in pelle bianca con fasce incrociate, pr...","79,90 €",Zeppe
27,Sandalo P21,Sandalo platform in pelle nera con cinturino a...,"69,93 €",Zeppe
28,Zeppa 6068,Zeppa in pelle bianca con cinturino e profili ...,"55,93 €",Zeppe
29,Zeppa 2551,Zeppa in pelle nera con fondo multimateriale,"59,50 €",Zeppe
30,Zeppa 2551,Zeppa in pelle color cuoio con fondo multimate...,"59,50 €",Zeppe
31,Zeppa 6102,Zeppa in pelle taupe e caffè con fondo 9 cm,"55,93 €",Zeppe
32,Sandalo Ledro,Sandalo con zeppa in pelle rosa con doppia fascia,"63,92 €",Zeppe
33,Sandalo 2557,Sandalo con zeppa in pelle effetto dorato con ...,"39,50 €",Zeppe
34,Zeppa 3402,"Zeppa in pelle marrone con tomaia incrociata, ...","74,90 €",Zeppe
35,Zeppa 6926,Zeppa in pelle intrecciata color cuoio e solet...,"89,90 €",Zeppe
36,Ciabatta 1118,Ciabatta con due fascioni incrociati in pelle ...,"42,50 €",Zeppe
37,Zeppa Filomena 19,"Zeppa in pelle nera, soletta interna in morbid...","39,95 €",Zeppe
38,Zeppa 4239,"Zeppa in pelle marrone e argento, fondo rigato...","29,50 €",Zeppe
39,Zeppa 4227,Sandalo con zeppa 6 cm in pelle color cuoio co...,"29,50 €",Zeppe
40,Zeppa Lobi 8043,Zeppa in pelle color carne con fascia arricchi...,"52,50 €",Zeppe
41,Zeppa 1116,Zeppa in pelle color cuoio con fascia di color...,"39,95 €",Zeppe
42,Zeppa T-85,Zeppe in pelle intrecciata grigio scuro metall...,"34,50 €",Zeppe
43,Zeppa Argo,Zeppa in pelle nera con corda bicolor,"49,95 €",Zeppe
44,Zeppa Baronissi,Zeppa in pelle beige con decorazione bicolor,"34,95 €",Zeppe
45,Zeppa 8821,Zeppa in pelle oro e argento a fasce incrociar...,"44,50 €",Zeppe
46,Zeppa 8915,Zeppa con fascione in pelle craccato pweter ar...,"49,50 €",Zeppe
47,Zeppa Urban,Zeppa tacco 13 cm con suola fasciata con corda...,"49,95 €",Zeppe
48,Zeppa Zamora,Zeppa in pelle nera con accessori silver e fon...,"49,50 €",Zeppe
49,Zeppa Zamora,Zeppa in pelle beige con accessori silver e fo...,"49,50 €",Zeppe
50,Zeppa filomena,Sandalo Nero con zeppa marrone,"42,95 €",Zeppe
51,Zeppa Hanna,Zeppa scamosciata cuoio con allacciatura alla ...,"42,95 €",Zeppe

In [16]:
pages = pages =   ["https://www.kammi.it/scarpe-donna/sandali-con-tacco/", 
                   "https://www.kammi.it/scarpe-donna/sandali-con-tacco/pag2/",
                   "https://www.kammi.it/scarpe-donna/sandali-con-tacco/pag3/",
                   "https://www.kammi.it/scarpe-donna/sandali-con-tacco/pag4/"
                  ]

dict = {"modello": [], "descrizione": [], "prezzo": []}

for url in pages:
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        modelli = soup.find_all("p", attrs={"class": "product-title"})
        descrizioni = soup.find_all("p", attrs={"class": "product-description"})
        prezzi = soup.find_all("p", attrs={"class": "product-price"})
        
        prezzi_clean = [prezzo.text for i, prezzo in enumerate(prezzi) if i % 2 != 0]
        
        for modello, descrizione, prezzo in zip(modelli, descrizioni, prezzi_clean):
            dict["categoria"] = "Sandali con tacco"
            dict["modello"].append(modello.text.strip())
            dict["descrizione"].append(descrizione.text.strip())
            dict["prezzo"].append(prezzo.strip())

df5 = pd.DataFrame(dict)
df5

,modello,descrizione,prezzo,categoria
0,Sandalo con tacco M054,"Sandalo nero con tacco, punta squadrata, cintu...","69,90 €",Sandali con tacco
1,Sandalo con tacco M044,"Sandalo nude con tacco, punta squadrata, cintu...","79,90 €",Sandali con tacco
2,Sandalo con tacco M044,"Sandalo argento con tacco, punta squadrata, ci...","79,90 €",Sandali con tacco
3,Sandalo con tacco M044,"Sandalo platino con tacco, punta squadrata, ci...","79,90 €",Sandali con tacco
4,Sandalo con tacco 8006 raso,"Sandalo in raso nero, tacco laccato 10 cm, cin...","99,90 €",Sandali con tacco
5,Sandalo con tacco M044,"Sandalo fucsia con tacco, punta squadrata, cin...","79,90 €",Sandali con tacco
6,Sandalo con tacco 8006,"Sandalo con tacco color platino metallizzato, ...","99,90 €",Sandali con tacco
7,Sandalo con tacco 8006,"Sandalo con tacco color fucsia metallizzato, t...","99,90 €",Sandali con tacco
8,Sandalo con tacco 7012,"Sandalo in naplak nero con tacco largo, punta ...","89,90 €",Sandali con tacco
9,Sandalo con tacco 7012,"Sandalo in naplak bianco con tacco largo, punt...","89,90 €",Sandali con tacco
10,Sandalo con tacco 8004,"Sandalo in raso nero con tacco 12 cm, plateau ...","89,90 €",Sandali con tacco
11,Sandalo con tacco 8004,"Sandalo in raso fucsia con tacco 12 cm, platea...","89,90 €",Sandali con tacco
12,Sandalo con tacco 3588,Sandalo con tacco 7 cm nude con cinturino alla...,"69,90 €",Sandali con tacco
13,Sandalo con tacco 3588,Sandalo con tacco 7 cm nero con cinturino alla...,"69,90 €",Sandali con tacco
14,Sandalo 1789,"Sandalo con tacco 9 cm in pelle nera, fasce se...","119,00 €",Sandali con tacco
15,Sandalo con tacco 7100,Sandalo con tacco 7 cm con fascione in pelle n...,"89,90 €",Sandali con tacco
16,Sandalo Lione,Sandalo in pelle color glicine con tacco 7 cm ...,"115,00 €",Sandali con tacco
17,Sandalo 2714,"Sandalo con tacco 7 cm, largo, in naplak nero ...","119,00 €",Sandali con tacco
18,Sandalo 1789,"Sandalo con tacco 9 cm in pelle colore cipria,...","119,00 €",Sandali con tacco
19,Sandalo 1789,"Sandalo con tacco 9 cm in pelle colore banana,...","119,00 €",Sandali con tacco
20,Sandalo 9440 lux,Sandalo con tacco 6 cm in tessuto lux oro,"44,50 €",Sandali con tacco
21,Sandalo 9440,Sandalo con tacco 6 cm in pelle nude,"47,50 €",Sandali con tacco
22,Sandalo 9440,Sandalo con tacco 6 cm in pelle blu,"47,50 €",Sandali con tacco
23,Sandalo con tacco PL010,Sandalo con tacco 9 cm scamosciato nero,"39,95 €",Sandali con tacco
24,Sandalo con tacco PL010,Sandalo con tacco 9 cm scamosciato camel,"39,95 €",Sandali con tacco
25,Sandalo con tacco 2618,Sandalo con tacco in pelle effetto argentato c...,"37,50 €",Sandali con tacco
26,Sandalo con tacco NO26 Cam,Sandali scamosciati neri con cinturino largo a...,"34,95 €",Sandali con tacco
27,Sandalo con tacco 3808,Sandalo scamosciato nero con cintrurino sottil...,"34,95 €",Sandali con tacco
28,Sandalo con tacco 2687,Sandalo con tacco in camoscio cuoio con fasce ...,"47,50 €",Sandali con tacco
29,Sandalo con tacco Q001,Sandalo con tacco ope toe in pelle scamosciata...,"34,95 €",Sandali con tacco
30,Sandalo con tacco Q001,Sandalo con tacco ope toe in pelle scamosciata...,"34,95 €",Sandali con tacco
31,Sandalo con tacco 1990,Sandalo con plateau in camoscio color sella co...,"49,50 €",Sandali con tacco
32,Sandalo con tacco 2210,Sandalo con plateau in pelle color cuoio con c...,"49,50 €",Sandali con tacco
33,Sandalo Black Pearls,Sandalo black con applicazioni perle,"34,50 €",Sandali con tacco
34,Sandalo Elisabetta,Sandalo con paillettes rosa,"34,50 €",Sandali con tacco
35,Sandalo Elisabetta,Sandalo con paillettes nere,"34,50 €",Sandali con tacco
36,Sandalo Olivia,Sandalo con lavorazione intreccio tricolor,"47,50 €",Sandali con tacco
37,Sandalo Jenny,Sandalo intrecciato laminato tacco 11 cm,"34,50 €",Sandali con tacco
38,Sandalo Jenny,Sandalo intrecciato laminato tacco 11 cm,"34,50 €",Sandali con tacco
39,Sandalo electra,Snadalo nero con tacco spesso e chiusura con f...,"29,95 €",Sandali con tacco
40,Sandalo Brilliant Dance,"Sandalo craccato rame, tacco 10 cm","39,95 €",Sandali con tacco
41,Sandalo Samantha,Sandalo con taccp Beige con fasce altrenate in...,"59,95 €",Sandali con tacco
42,Sandalo Charlotte,Sandalo gioiello elegante argentato con swarosky,"24,95 €",Sandali con tacco
43,Sandalo Ahdid,Sandalo con tacco e decorazioni,"29,95 €",Sandali con tacco
44,Sandalo Bali,Sandalo basso con tacco spesso nella variante ...,"27,95 €",Sandali con tacco
45,Sabot Lady 2937,"Sabot elegante donna, vera pelle nero con gran...","49,95 €",Sandali con tacco
46,Sabot Lady 2937,"Sabot elegante donna, vera pelle, in versione ...","49,95 €",Sandali con tacco
47,Sandalo 6930,Sandalo tronchetto in pelle nera traforata,"29,95 €",Sandali con tacco
48,Sabot Sirte,"Sabot spuntato con plateau, tacco 13 color silver","47,95 €",Sandali con tacco
49,Sandalo Riccione,Sandalo in pelle bianca con borchie gold,"59,95 €",Sandali con tacco

In [17]:
pages = pages =   ["https://www.kammi.it/scarpe-donna/scarpe-con-tacco/", 
                   "https://www.kammi.it/scarpe-donna/scarpe-con-tacco/pag2/",
                   "https://www.kammi.it/scarpe-donna/scarpe-con-tacco/pag3/",
                   "https://www.kammi.it/scarpe-donna/scarpe-con-tacco/pag4/",
                   "https://www.kammi.it/scarpe-donna/scarpe-con-tacco/pag5/",
                   "https://www.kammi.it/scarpe-donna/scarpe-con-tacco/pag6/",
                   "https://www.kammi.it/scarpe-donna/scarpe-con-tacco/pag7/",
                   "https://www.kammi.it/scarpe-donna/scarpe-con-tacco/pag8/"]

dict = {"modello": [], "descrizione": [], "prezzo": []}

for url in pages:
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        modelli = soup.find_all("p", attrs={"class": "product-title"})
        descrizioni = soup.find_all("p", attrs={"class": "product-description"})
        prezzi = soup.find_all("p", attrs={"class": "product-price"})
        
        prezzi_clean = [prezzo.text for i, prezzo in enumerate(prezzi) if i % 2 != 0]
        
        for modello, descrizione, prezzo in zip(modelli, descrizioni, prezzi_clean):
            dict["categoria"] = "Scarpe  con tacco(Decollete)"
            dict["modello"].append(modello.text.strip())
            dict["descrizione"].append(descrizione.text.strip())
            dict["prezzo"].append(prezzo.strip())

df6 = pd.DataFrame(dict)
df6

,modello,descrizione,prezzo,categoria
0,Slingback M009,"Sling back charm cipria, tacco 9 cm, soletta i...","89,90 €",Scarpe con tacco(Decollete)
1,Slingback 3004,"Sling back in tela nera, tacco 6 cm, soletta i...","95,00 €",Scarpe con tacco(Decollete)
2,Slingback 3005,"Sling back in vittor beige, tacco 6 cm, solett...","95,00 €",Scarpe con tacco(Decollete)
3,Mocassino con tacco 512,Mocassino stile college in camoscio sella con ...,"129,00 €",Scarpe con tacco(Decollete)
4,Mocassino con tacco 512,Mocassino stile college in camoscio navy con t...,"129,00 €",Scarpe con tacco(Decollete)
...,...,...,...,...
105,Scarpa con tacco Trani,Scarpa con tacco in vernice cipria tacco 10 cm,"39,95 €",Scarpe con tacco(Decollete)
106,Scarpa Gubbio Craccato,Scarpa con tacco con allacciatura alla cavigli...,"42,50 €",Scarpe con tacco(Decollete)
107,Bebè Bourges,Bebè con tacco craccato oro,"54,95 €",Scarpe con tacco(Decollete)
108,Spuntata Monza,Spuntata in pelle nera con tacco 6.5 cm fondo ...,"44,95 €",Scarpe con tacco(Decollete)
109,Decolleté in vernice,"Decolleté in vernice leopardata, tacco 10 cm i...","57,50 €",Scarpe con tacco(Decollete)

In [18]:
pages = pages =  ["https://www.kammi.it/scarpe-donna/scarpe-basse/",
                  "https://www.kammi.it/scarpe-donna/scarpe-basse/pag2/",
                  "https://www.kammi.it/scarpe-donna/scarpe-basse/pag3/",
                  "https://www.kammi.it/scarpe-donna/scarpe-basse/pag4/",
                  "https://www.kammi.it/scarpe-donna/scarpe-basse/pag5/",
                  "https://www.kammi.it/scarpe-donna/scarpe-basse/pag6/",
                  "https://www.kammi.it/scarpe-donna/scarpe-basse/pag7/",
                  "https://www.kammi.it/scarpe-donna/scarpe-basse/pag8/"] 

dict = {"modello": [], "descrizione": [], "prezzo": []}

for url in pages:
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        modelli = soup.find_all("p", attrs={"class": "product-title"})
        descrizioni = soup.find_all("p", attrs={"class": "product-description"})
        prezzi = soup.find_all("p", attrs={"class": "product-price"})
        
        prezzi_clean = [prezzo.text for i, prezzo in enumerate(prezzi) if i % 2 != 0]
        
        for modello, descrizione, prezzo in zip(modelli, descrizioni, prezzi_clean):
            dict["categoria"] = "Scarpe basse(ballerine, mocassini)"
            dict["modello"].append(modello.text.strip())
            dict["descrizione"].append(descrizione.text.strip())
            dict["prezzo"].append(prezzo.strip())

df7 = pd.DataFrame(dict)
df7

,modello,descrizione,prezzo,categoria
0,Ballerina Lulu,Ballerina in pelle color platino con lavorazio...,"89,90 €","Scarpe basse(ballerine, mocassini)"
1,Ballerina Lulu,Ballerina in pelle nera con lavorazione a sacc...,"89,90 €","Scarpe basse(ballerine, mocassini)"
2,Ballerina Flavia 3,"Ballerina sfilata, modello mary jane, in pelle...","75,00 €","Scarpe basse(ballerine, mocassini)"
3,Ballerina Flavia 3,"Ballerina sfilata, modello mary jane, in pelle...","75,00 €","Scarpe basse(ballerine, mocassini)"
4,Ballerina Alice,Ballerina morbida in pelle kitty con profilo c...,"79,90 €","Scarpe basse(ballerine, mocassini)"
...,...,...,...,...
101,Mocassino Milano,Mocassino in pelle nera con accessorio Gold,"34,95 €","Scarpe basse(ballerine, mocassini)"
102,Mocassino Milano Laminato,Mocassino in pelle laminata con accessorio,"34,95 €","Scarpe basse(ballerine, mocassini)"
103,Ballerina Lace,Ballerina sfilata con lacci in pelle laminata ...,"37,50 €","Scarpe basse(ballerine, mocassini)"
104,Espadrillas Silvy,Espadrillas in pelle traforata bicolor,"27,50 €","Scarpe basse(ballerine, mocassini)"
105,Mocassino One,Mocassino in pelle nera traforata con fascia e...,"49,50 €","Scarpe basse(ballerine, mocassini)"

In [ ]:
dfscarpe = [df1, df2, df3, df4, df5, df6, df7]
Kammi = concat(dfscarpe, ignore_index=True)